.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 460px;
}

.LoginForm {
  display: flex;
  flex-direction: column;
  width: 460px;
}

.loginInput {
  margin-bottom: 30px;
}

.loginBtn {
  margin-left: auto;
}

.title {
  margin-bottom: 40px;
}

.error {
  margin-bottom: 20px;
}
