.commentTitle {
  margin-top: 40px;
  margin-bottom: 24px;
}

.newComment {
  margin-bottom: 32px;
}

.recommendations {
  flex-wrap: nowrap;
  justify-content: start;
  overflow-y: hidden;
  overflow-x: auto;
  max-width: 100%;
  padding-bottom: 6px;
}
