.drawer {
  position: fixed;
  inset: 0;
  z-index: 1;
}

.content {
  position: fixed;
  height: calc(100vh + 100px);
  width: 96vw;
  left: 2vw;
  padding: 16px;
  background: var(--bg-color);
  border-radius: 12px 12px 0 0;
  touch-action: none;
}
