.app.dark {
  --bg-color: #141526;
  --inverted-bg-color: #929090;

  --primary-color: #18AAF8;
  --secondary-color: #6A7EFE;
  --inverted-primary-color: #1a1ef7;
  --inverted-secondary-color: #a36afe;
}
