.orange {
  --bg-color: #ffbcab;
  --inverted-bg-color: #7b392a;
  --primary-color: #a13030;
  --secondary-color: #fdfa66;
  --inverted-primary-color: #3cb07e;
  --inverted-secondary-color: #1ac0c6;
}
