.menu {
  position: relative;
  display: flex;
  width: fit-content;
}

.dropdown {
  position: absolute;
  border: 1px solid var(--primary-color);
  border-radius: 8px;
  overflow: hidden;
  z-index: 3000;

  &.bottom-left {
    top: 100%;
    left: 0;
    margin-top: 4px;
  }

  &.bottom-right {
    top: 100%;
    right: 0;
    margin-top: 4px;
  }

  &.top-left {
    bottom: 100%;
    left: 0;
    margin-bottom: 4px;
  }

  &.top-right {
    bottom: 100%;
    right: 0;
    margin-bottom: 4px;
  }
}

.trigger {
  background: transparent;
  border: 0;
  outline: none;
}

.item {
  padding: 6px 8px;
  background: var(--listbox-bg);
  transition: all .3;
  cursor: pointer;

  &.active {
    background: var(--inverted-bg-color);
  }

  &.disabled {
    opacity: 0.7;
    cursor: default;
  }

  &:hover:not(.disabled) {
    background: var(--bg-color);
  }
}
