.button {
  cursor: pointer;
}

.clear {
  padding: 0;
  border: 0;
  background: transparent;
  outline: none;
}

.outline {
  padding: 8px 16px;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius:8px;
  background: none;
  font-size: var( --font-size-l);
}
