.Input {
  position: relative;
}

.htmlInput {
  position: relative;
  display: block;
  width: 100%;
  background: none;
  border: 1px solid var(--inverted-bg-color);
  border-radius: 8px;
  outline: none;
  padding: 6px 8px;
  color: var(--primary-color);
  z-index: 1;
}

.label {
  position: absolute;
  top: 6px;
  left: 6px;
  font-size: 18px;
  transition: 0.3s ease-in-out;
  z-index: 0;

  &.active {
    top: -22px;
    font-size: 12px;
  }
}
