.profile-card {
  border: 1px solid var(--primary-color);
  padding: 40px 20px;
}

.input:not(:first-child) {
  margin-top: 40px;
}

.loading,
.error {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 300px;
}

.avatar-wrapper {
  display: flex;
  justify-content: center;
}
